%header
  %h1 Building session history charts

%button#reload-button{:class => 'btn btn-info'} Reload charts

.well{:class => 'well well-lg'}
  %div.first-chart-container
    %h2 Anomality detection using k-means
    %div.first-chart

  %div.second-chart-container
    %h2
    %div.second-chart

  %div.third-chart-container
    %h4 Another representation of first chart
    %div.third-chart

.container
  %footer
    %p © 2016 CyberCraft Inc. 
