<!DOCTYPE html>
<html>
<head>
  <title>Test task</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
  <%= csrf_meta_tags %>
</head>
<body class="charting-app">

<%= yield %>

</body>
</html>
